<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bot-Supreme</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" name="category" placeholder="Category of Item">
      </div>
    </form>
  </body>
</html>
